{% if page.collection %}
  {% assign posts = (site[page.collection] | where:"layout", "single-particle" | sort: 'title') %}

  {% if posts.size > 1 %}
    {% assign prevurl = posts.last.url %}
    {% assign nexturl = posts.first.url %}
  {% endif %}

  {% for links in posts %}
    {% if links.title == page.title %}
      {% unless forloop.first %}
        {% assign prevurl = prev.url %}
      {% endunless %}
      {% unless forloop.last %}
        {% assign next = posts[forloop.index] %}
        {% assign nexturl = next.url %}
      {% endunless %}
    {% endif %}
    {% assign prev = links %}
  {% endfor %}
    <div class="links">
      <a href="/">less</a>
      {% if posts.size > 1 %}
        <!-- {% if prevurl %}<a href="{{prevurl}}" class="prev">PREV</a>{% endif %} -->
        {% if nexturl %}<a href="{{nexturl}}">more</a>{% endif %}
      {% endif %}
    </div>

{% endif %}
