$font-body: 'Space Mono', monospace;

body {
  font-family: $font-body;
  font-size: 1rem;
  line-height: 1.3;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  font-style: italic;
}

p {
  font-size: 1.2rem;
}
